
</div>
<!-- <div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by uma sri kanth</p>
  </div>
</div> -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    done by Uma Sri Kanth
  </div>
  <!-- Copyright -->

</footer>
</body>
</html>
