<%- include("./partials/header") %>

<div class="" id = "lol" role="alert">
  <!-- <i class="fas fa-exclamation-triangle"></i> -->
</div>

<form class="form-signin" method="post" action= "/userIn">
  
  <div class="gop">
    <i class="fas fa-id-card fa-7x icon"></i>
    <h1 class="h3 mb-3 font-weight-normal">Please confirm your identity to post</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="Email address"
      name = "emailBx"
      required
      autofocus
      autocomplete="off"
    />
    <label for="inputPassword" class="sr-only">Password</label>
    <input
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Password"
      name = "passBx"
      required
      autocomplete="off"
    />
    <div class="checkbox mb-3">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Sign in
    </button>
    <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p> -->
  </div>
</form>
  <script>
    var temp = "<%- errMsg %>"
    if (temp == "password incorrect") {
      document.getElementById("lol").classList.add("aod", "alert", "alert-primary");
      document.querySelector("#lol").innerHTML = "<span>please check password !! only admin can post blogs here </span>"
      //var i = document.createElement("i");
      //i.classList.add("fas", "fa-exclamation-triangle", "fa-2x")
      //document.querySelector("#lol").insertBefore(i, document.querySelector("#lol").childNodes[0]);
      setTimeout(() => {
        document.querySelector("#lol").classList.remove("aod", "alert", "alert-primary");
        document.querySelector("#lol").innerHTML = null;
      }, 50000)
    }
    
  </script>
<%- include("./partials/footer")%>
