.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    margin-left: -200px;
    padding-left: 200px;
    margin-right: -200px;
    padding-right: 200px;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.gop {
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.aod {
    margin-top: 5px;
    border: 2px solid;
    background-color: #fe346e;
    opacity: 0.7;
}

.icon {
    margin-left: 120px;
    /* align-items: center; */
}
.lop {
    margin-top: 40px;
    margin-left: 88%;
}

#lol {
    /* margin-bottom: 10px; */
}
.fa-exclamation-triangle {
    margin-right: 10px;
}

.sos {
    margin-top: 40px;
}

.gop input {
    height: 50px;
}

.gop h1 {
    text-align: center;
    margin-bottom: 30px;
}


.footer-padding {
    padding-bottom: 60px;
}

.py-3 {
    margin-left: 600px;
    margin-right: 600px;
    box-shadow: 0 8px 6px -6px black;
}

.container {
    padding-left: 0;
}

.footer {
	position: relative;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

.btn-primary {
    margin-top: 10px;
}
.obs {
    width: 1150px;
}
